@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --ct: #ffffff;
    --section-height: calc(100vh - 95px);
}

#ham-menu {
    background-color: var(--ct);
    border: none;
}

#hamburger {
    width: 6.45vw;
}

#hamburger-nav {
    font-size: 2rem;

}
#hamburger-nav li {
    margin-top: 3rem;
}

body {
    font-family: 'Oswald', sans-serif;
}

.background_color {
    background-color: var(--ct);
}

#header {
    position: sticky;
    top: 0;
    z-index: 900;
    height: 95px;
    box-shadow: 0px -41px 72px 60px black;
}

.header_logo {
    width: 3.5rem;
}

.header_name {
    font-size: 6.45vw;
    color: black;
    cursor: default;

}

nav {
    display: none;
}

.nav-hover {
    color: rgb(0, 0, 0);
    transition: .5s;
}

.nav-hover:hover {
    opacity: 20%;
    transition: .3s;
}

#bg-1 {
    height: var(--section-height);
    background-color: #000000;
}

#bg-1 h1 {
    font-size: 10vw;
    cursor: default;
}

.span-name {
    color: #1dc9df;
}

#bg-1 p {
    font-size: 4vw;
    color: #656565;
    cursor: default;
}

#home-to-projects {
    font-size: 1.8rem;
    margin-top: 8rem;
}

#home-to-projects button {
    border: none;
    color: black;
    background-color: #1dc9df;
    border-radius: 4rem;
    padding: .5rem;
    width: 17rem;
    transition: .3s;
}

#home-to-projects button:hover {
    transition: .3s;
    width: 19rem;
    color: white;
}

#bg-2 {
    height: var(--section-height);
    box-shadow: 0px 0px 72px 0px black;
    background-color: #0d0d0d;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .header_name {
        font-size: 2.3rem;
    }

    #ham-menu {
        height: auto;
    }

    #bg-1 p {
        font-size: 2.7vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #bg-1 h1 {
        font-size: 7vw;
    }

    #bg-1 p {
        font-size: 2vw;
    }
}

/* for the nav bar to look good */
@media (min-width: 823px) {
    #ham-menu {
        display: none;
    }

    nav {
        display: flex;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}