@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --ct: #ffffff;
    --header-container-height: calc(100vh - 60px);
    --bg-height: calc(70rem - 10rem);
}

/* Tooltip container */
.custom-tooltip {
    position: relative;
    display: inline-block;

}

/* Tooltip text */
.custom-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

}

/* Tooltip arrow */
.custom-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.custom-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#ham-menu {
    background-color: var(--ct);
    border: none;
}

#hamburger {
    width: 6.45vw;
}

#hamburger-nav {
    font-size: 2rem;

}

#hamburger-nav li {
    margin-top: 3rem;
}

body {
    font-family: 'Oswald', sans-serif;
}

.background_color {
    background-color: var(--ct);
}

#header {
    position: sticky;
    top: 0;
    z-index: 900;
    height: 60px;
    box-shadow: 0px -41px 30px 50px black;
}

.header_logo {
    width: 3.5rem;
}

.header_name {
    font-size: 6.45vw;
    color: black;
    cursor: default;

}

nav {
    display: none;
}

.nav-hover {
    color: rgb(0, 0, 0);
    transition: .5s;
}

.nav-hover:hover {
    opacity: 20%;
    transition: .3s;
}

#bg-1 {
    height: var(--header-container-height);
    background-color: #000000;
}

#bg-1 h1 {
    font-size: 10vw;
    cursor: default;
}

.span-name {
    color: #1dc9df;
}

#bg-1 p {
    font-size: 4vw;
    color: #656565;
    cursor: default;
}

/* #down-arrow-container {
    position: absolute;
    bottom: 2rem;
} */

#down-arrow-container img {
    width: 7vw;
}


#home-to-projects {
    font-size: 4vw;
    margin-top: 4vh;
}

#home-to-projects button {
    border: none;
    color: black;
    background-color: #1dc9df;
    border-radius: 1rem;
    padding: .5rem;
    width: 25vw;
    transition: .3s;
}

#home-to-projects button:hover {
    transition: .3s;
    width: 30vw;
}


#bg-2 {
    height: var(--bg-height);
    background-color: rgb(255, 255, 255);
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#bg-2 h2 {
    font-size: 8vw;
    color: black;
}

#about-content {
    width: 324.26px;
    border: black solid 2px;
    border-radius: .5rem;
    background-color: black;
    box-shadow: 0px 0px 5px 1px white;
    text-align: center;
    max-width: 600px;
}

#skill-container-wrapper {
    box-shadow: 0px 0px 5px 1px white;
    border-radius: .5rem;
    background-color: black;
    max-width: 600px;
}

#bg-3 {
    height: var(--bg-height);
    background-color: #000000;
    cursor: default;
    
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .header_name {
        font-size: 2.3rem;
    }

    #ham-menu {
        height: auto;
    }

    #bg-1 p {
        font-size: 2.7vw;
    }

    #home-to-projects {
        font-size: 3vw;
    }

    #down-arrow-container img {
        width: 6vw;
    }

    #skills-div {
        width: 85%;
    }

    #about-div {
        width: 85%;
    }

    #about-content {
        width: auto;
    }

    .skill-container {
        display: flex;
        justify-content: space-evenly;
    }

    .skill-container img {
        width: 3.5rem;
    }

    #skill-container-1 {
        /* margin: 1rem; */
        margin: 1vh;
    }

    #skill-container-2 {
        /* margin: 1rem; */
        margin: 1vh;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #bg-1 h1 {
        font-size: 7vw;
    }

    #bg-1 p {
        font-size: 2vw;
    }

    #home-to-projects {
        font-size: 2vw;
    }

    #home-to-projects button {
        width: 22vw;
    }

    #down-arrow-container img {
        width: 5vw;
    }

    #skill-container-wrapper {
        border: none;
    }

    #about-content {
        border: none;
    }

    #about-content p {
        font-size: 1.3rem;
    }
}

/* for the nav bar to look good */
@media (min-width: 823px) {
    #ham-menu {
        display: none;
    }

    nav {
        display: flex;
    }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #home-to-projects {
        font-size: 1.5vw;
    }

    #home-to-projects button {
        width: 18vw;
    }

    #home-to-projects button:hover {
        width: 20vw;
    }

    #down-arrow-container img {
        width: 4vw;
    }

    #skills-div {
        width: 50%;
    }

    #about-div {
        width: 50%;
    }

    #bg-2 h2 {
        font-size: 5rem;
    }

    #about-content p {
        text-align: center;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #home-to-projects {
        font-size: 1.5vw;
    }

    #home-to-projects button {
        width: 14vw;
    }

    #home-to-projects button:hover {
        width: 18vw;
    }

    #down-arrow-container img {
        width: 3vw;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}