@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --ct: #ffffff;
    --header-container-height: calc(100vh - 60px);
    --bg-height: calc(70rem - 10rem);
}

#ham-menu {
    background-color: var(--ct);
    border: none;
}

#hamburger {
    width: 6.45vw;
}

#hamburger-nav {
    font-size: 2rem;

}

#hamburger-nav li {
    margin-top: 3rem;
}

body {
    font-family: 'Oswald', sans-serif;
}

.background_color {
    background-color: var(--ct);
}

#header {
    position: sticky;
    top: 0;
    z-index: 900;
    height: 60px;
    box-shadow: 0px -41px 30px 50px black;
}

.header_logo {
    width: 3.5rem;
}

.header_name {
    font-size: 6.45vw;
    color: black;
    cursor: default;

}

nav {
    display: none;
}

.nav-hover {
    color: rgb(0, 0, 0);
    transition: .5s;
}

.nav-hover:hover {
    opacity: 20%;
    transition: .3s;
}

#bg-1 {
    height: var(--header-container-height);
    background-color: #000000;
}

#bg-1 h1 {
    font-size: 10vw;
    cursor: default;
}

.span-name {
    color: #1dc9df;
}

#bg-1 p {
    font-size: 4vw;
    color: #656565;
    cursor: default;
}

#bg-1 .socials {
    width: 100px;
    height: 200px;
    background-color:#ababab;
    border-radius: 25px 0 0 25px;
    position: fixed;
    right: 0;
    top: 40%;
    display: none;
}

#bg-1 .social {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#bg-1 .social img {
    width: 100%;
    height: 65%;
    scale: .8;
    
}

#down-arrow-container img {
    width: 7vw;
}


#home-to-projects {
    font-size: 4vw;
    margin-top: 4vh;
}

#home-to-projects button {
    border: none;
    color: black;
    background-color: #1dc9df;
    border-radius: 1rem;
    padding: .5rem;
    width: 25vw;
    transition: .3s;
}

#home-to-projects button:hover {
    transition: .3s;
    width: 30vw;
}


#bg-2 {
    background-color: rgb(255, 255, 255);
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#bg-2 h2 {
    font-size: 8vw;
    color: black;
    text-align: center;
}

#bg-2-wrapper {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#bg-2 .skills-div {
    width: 100%;
    margin-bottom: 2rem;
    height: auto;
}


#bg-2 .skills-content .skills-inner {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 5px;
    flex-wrap: wrap;
    padding: 1rem;
}

#bg-2 .skills-content p {
    background-color: #7a7a7a;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 0;

}

#bg-2 .skills-content img {
    background-color: #7a7a7a;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#bg-2 .about-div {
    width: 100%;
    height: auto;
}

#bg-2 .about-content {
    padding: 1rem;
    font-size: 1.3rem;
}


#bg-3 {
    background-color: #000000;
    cursor: default;
    color: white;
}

#bg-3-wrapper {
    padding: 1rem;
    width: 100%;
}

#bg-3 h2 {
    font-size: 8vw;
    text-align: center;
}

#bg-3 .proj {
    padding: 1rem;
    background-color: #6c6c6c;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#bg-3 .proj h3 {
    color: #000000;
    /* text-decoration: underline; */
    text-transform: uppercase;
    font-weight: 600;
}

#bg-3 .proj-alt h3 {
    text-align: end;
}

#bg-3 .proj-picture {
    width: 100%;
    height: auto;
}

#bg-3 .proj-desc {
    font-size: 1.1rem;
    padding: 10px;
}

#bg-3 .proj-picture img {
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 5px rgb(0, 0, 0);
}

#bg-4 {
    background-color: #ffffff;
    cursor: default;
    color: rgb(0, 0, 0);
}

#bg-4-wrapper {
    padding: 1rem;
    width: 100%;
}

#bg-4 h2 {
    font-size: 8vw;
    text-align: center;
}

#contact-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#bg-4 .form-row {
    width: 100%;
    font-size: 1.1rem;

}

#bg-4 .form-row input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px black;
}

#bg-4 textarea {
    resize: none;
    height: 7rem;
    margin-bottom: 1rem;
}

#name-email {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

#submit-button {
    text-align: center;
}

#bg-4 .form-row button {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px rgb(0, 0, 0);
    background-color: black;
    color: white;
}


footer {
    background-color: #000000;
    padding: 1rem;
    color: white;
    text-align: center;
}

footer a {
    color: white;
}

#copyright {
    font-size: .7rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .header_name {
        font-size: 2.3rem;
    }

    #ham-menu {
        height: auto;
    }

    #bg-1 p {
        font-size: 2.7vw;
    }

    #home-to-projects {
        font-size: 3vw;
    }

    #down-arrow-container img {
        width: 6vw;
    }

    #bg-2 h2 {
        font-size: 3.5rem;
        color: black;
        text-align: center;
    }

    #bg-2-wrapper {
        align-items: center;
    }

    #bg-2 .skills-div {
        width: 500px;
    }

    #bg-2 .about-div {
        width: 500px;
    }

    #bg-3 h2 {
        font-size: 3.5rem;
        text-align: center;
    }

    #bg-3 .proj-picture {
        padding: 2rem;
    }

    #bg-4 h2 {
        font-size: 3.5rem;
        color: black;
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #bg-1 h1 {
        font-size: 7vw;
    }

    #bg-1 p {
        font-size: 2vw;
    }

    #home-to-projects {
        font-size: 2vw;
    }

    #home-to-projects button {
        width: 22vw;
    }

    #down-arrow-container img {
        width: 5vw;
    }

    #bg-2 .skills-div {
        width: 700px;
    }

    #bg-2 .about-div {
        width: 700px;
    }

    #bg-2 .skills-content {
        padding: 1rem 5rem;
    }

    #bg-3 .proj-desc {
        font-size: 1.3rem;
        padding: 10px;
    }

    #bg-3-wrapper {
        padding: 1rem 3rem;
    }

    #bg-3 .proj {
        padding: 3rem;
    }

    #bg-3 .proj-picture {
        padding: 2rem;
    }

    #bg-4-wrapper {
        padding: 1rem 3rem;
    }
}

/* for the nav bar to look good */
@media (min-width: 823px) {
    #ham-menu {
        display: none;
    }

    nav {
        display: flex;
    }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #bg-1 .socials {
        display: block;
    }
    
    #home-to-projects {
        font-size: 1.5vw;
    }

    #home-to-projects button {
        width: 18vw;
    }

    #home-to-projects button:hover {
        width: 20vw;
    }

    #down-arrow-container img {
        width: 4vw;
    }

    .skills-div {
        width: 50%;
        box-shadow: -20px 20px 13px 0px black;
    }

    .about-div {
        width: 50%;
        box-shadow: 20px 20px 13px 0px black;
    }

    #bg-2-wrapper {
        padding: 1rem;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }

    #bg-2 h2 {
        font-size: 5rem;
    }

    #bg-2 .skills-div {
        align-self: start;
        margin-bottom: 0;
        margin: 1rem;
        padding: 1rem;
        border-radius: 5px;
        border: #000000 2px solid;
        max-width: 550px;
        transition: .2s ease-in-out;
    }

    .skills-div:hover {
        transform: scale(1.03);
        transition: .2s ease-in-out;
    }

    #bg-2 .skills-content {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        padding: 1rem;
    }

    #bg-2 .about-div {
        margin: 1rem;
        border: #000000 2px solid;
        padding: 1rem;
        border-radius: 5px;
        max-width: 550px;
        transition: .2s ease-in-out;
    }

    .about-div:hover {
        transform: scale(1.03);
        transition: .2s ease-in-out;
    }

    #bg-2 .skills-content img {
        transform: scale(.85);
    }

    #bg-3-wrapper {
        display: flex;
        flex-direction: column;
    }

    #bg-3 h2 {
        font-size: 5rem;
    }

    #bg-3-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #bg-3 .proj {
        width: 45%;
        margin: 0;
        margin: 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        transition: .2s ease-in-out;

    }

    .proj:hover {
        box-shadow: 0px 15px 0px 0px #3e3e3e;
        transform: translateY(-20px);
        transition: .2s ease-in-out;
    }

    #bg-3 .proj-alt h3 {
        text-align: center;
    }

    #bg-3 .proj h3 {
        text-align: center;
    }

    #bg-4 h2 {
        font-size: 5rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #home-to-projects {
        font-size: 1.5vw;
    }

    #home-to-projects button {
        width: 14vw;
    }

    #home-to-projects button:hover {
        width: 18vw;
    }

    #down-arrow-container img {
        width: 3vw;
    }

    #bg-3-wrapper {
        align-items: center;
    }

    #bg-3-content-wrapper {
        width: 1150px;
    }

    #bg-4 {
        display: flex;
        justify-content: center;
    }

    #bg-4-wrapper {
        width: 1150px;
    }

    #bg-4 #submit-button button {
        width: 30%;
        transition: .2s ease-in-out;
    }

    #contact-me {
        padding: 1rem 7rem;
    }

    #bg-4 #submit-button button:hover {
        transition: .2s ease-in-out;
        color: black;
        background-color: #1dc9df;
        border: white 2px solid;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}